[Unit]
Description=Librarium Server
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User={{SERVICE_USER}}
WorkingDirectory={{WORKING_DIRECTORY}}
ExecStart={{EXEC_START}}
Restart=on-failure
RestartSec=5
Environment=RUST_LOG=info

[Install]
WantedBy=multi-user.target
